.course-item-details-card {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-top: 20px;
  height: 90vh;
}

.course-item-details-image {
  height: 470px;
  width: 380px;
}

.course-name-and-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  box-shadow: 0px 4px 16px 0px #e8e8e8;
  height: 470px;
  width: 520px;
  padding-left: 30px;
  padding-right: 30px;
}

.course-item-details-head {
  font-family: Roboto;
  color: #1e293b;
  font-size: 32px;
  margin-bottom: 10px;
}

.course-item-details-desc {
  font-family: Roboto;
  color: #475569;
  font-size: 20px;
  line-height: 40px;
  margin-top: 0px;
  font-weight: 400;
}

.course-item-details-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-failure-view-head {
  font-family: Roboto;
  color: #475569;
  font-size: 42px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.course-failure-view-desc {
  font-family: Roboto;
  color: #475569;
  font-size: 22px;
  margin-top: 20px;
}

.course-failure-view-image {
  height: 300px;
  width: 400px;
}

.course-failure-retry-button {
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Roboto;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: #4656a1;
  font-size: 16px;
  font-weight: 900;
}
